.present {
  background-color: #eee;
  box-sizing: border-box;
}

/************头部老师部分的样式**************/
.teacher {
  padding: 10px 20px;
  box-sizing: border-box;
  height: 200px;
  position: relative;
  // background-color: aquamarine;
  background: linear-gradient(#6F9AEA 50%,orange 50%);
  // border: 1px solid #000;
}

.teacher-head-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 40px;
  // transform: translate(-50%);
  transform: translateY(-50%);

}
.teacher-title {
  color: #eee;
  position: absolute;
  left: 150px;
  top: 60px;
}
.teacher-title-main {
  font-size: 35px;
  margin-right: 20px;
  font-weight: 500;
}
.teacher-title-ad {
  font-size: 26px;
}
.teacher-message {
  position: absolute;
  top: 105px;
  left: 150px;
  font-size: 23px;
}

/*********************/
.experience-home {
  height: 240px;
  overflow: hidden;
}

.experience {
  display: block;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #6F9AEA;
  // background-color: aqua;
  font-size: 30px;
  font-weight: 600;
}
.experience-main {
  background-color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 28px;
  overflow: hidden;
}

.experience-left {
  float: left;
}

.experience-center {
  float: left;
  text-align: justify;
}

.info {
  display: block;
  color: #575757;
  margin-left: 30px;
}

.introduce {
  display: block;
  margin-left: 220px;
  color: #A3A3A3;
}

.null {
  color: #A3A3A3;
  background-color: #fff;
  font-size: 28px;
}

.project {
  padding: 10px 20px;
  clear: both;
}
.projectnull {
  margin-left: 30px;
  // line-height: 100px;
}